body{
    background-color: rgb(179, 100, 168);
}
div{
    overflow: hidden;
    width: 250px;
    height: 100px;
    display: inline-block;
    background-color: white;
   
    
}
p{
    font-weight: bold;
    display: inline-block;
    border-top-style: solid;
    border-bottom-style: solid;
    overflow-y: scroll;
    

}