body{
    background-color: rgb(224, 224, 144);
}
.float-box{
    margin: auto;
    width: 500px;

}
h1{
     background-color: rgb(235, 235, 39);
        padding: 10px;
        text-align:left;
}
.left {
    background-color: white;
    padding: 2px;
    margin-top:5px;
    width: 500px;
    float: left;
    
}
.right {
float: right;
background-color: rgb(168, 169, 172);
float: right;
width: 150px;
height: 700px;
margin: 2px;
padding: 10px;

}


