.trafficLight {
    background-color: black;
    width: 50px;
    height: 150px;
    padding: 10px 5px;
    
    align-items: center;
    border-radius: 10px;
    animation-iteration-count: infinite;
  }
 

@keyframes red {
    from {background-color: gray;}
    to {background-color: red;}
}

@keyframes yellow {
    from {background-color: gray;}
    to {background-color: yellow;}
    }
@keyframes green {
        from {background-color: gray;}
        to {background-color: green;}
         }
  .red{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color:gray;
    animation-name: red;
    animation-duration: 2s;
    animation-delay: 2s; 
    
  }
  .yellow{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: gray;
    animation-name: yellow;
    animation-duration: 2s;
    animation-delay: 4s; 
    
  }
  .green{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color:gray;
    animation-name: green;
    animation-duration: 2s;
    animation-delay: 6s; 
    
  }

      

      
  