h1 {
    text-decoration: underline;
}
#blue {
    color: blue;
}
.yellow {
    color: rgb(245, 176, 49);
    text-decoration: underline;
}
#highlight {
    color: brown;
background-color: yellow;
text-decoration: underline;
}
span{
    font-weight: bold;
}
div{
color: blue;
}
.Red{
    color: red;
    text-decoration: underline;
}

