div{
    height: 600px;
    width: 140px;
   position: fixed;
   padding: 20px;
    top: 30px;
    right:10px;
    background-image: url(Image4/sad.jpg);
    background-repeat: no-repeat;
    background-position: center;
    

}